<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reCAPTCHA Example</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <!-- <form id="myForm" action="/submit" method="POST">
    <div class="g-recaptcha" data-sitekey="6Lef2j0qAAAAAOaV89HqWoT25iHn4ZpsznBktQXr"></div>
    <button type="submit">Submit</button>
  </form> -->

  <form id="myForm2" action="/submit" method="POST">
    <button class="g-recaptcha" data-sitekey="6LdB3T0qAAAAAJCXAh8guDdIMLQVZMh9PKtBq-mr" data-callback="onSubmit">Submit</button>
  </form>
  <script>
    // document.getElementById('myForm').addEventListener('submit', function(event) {
    //     var response = grecaptcha.getResponse();

    //     if (response.length === 0) {
    //         alert('Por favor, complete o reCAPTCHA.');
    //         event.preventDefault();
    //     }
    // });

      async function onSubmit(token) {
        await validateCaptcha();
        // alert(response);
        // document.getElementById('myForm2').submit();
      }

      
      async function validateCaptcha() {
        var response = grecaptcha.getResponse();

        if (response.length == 0) {
          alert("Por favor, clique no reCAPTCHA!");
          return false;
        }

        await sendCaptchaTokenAndValidate(response);
        
        return true;
      }

      async function sendCaptchaTokenAndValidate(token) {
        // var formData = new FormData(event.target);
        // formData.append('g-recaptcha-response', response);

        const result = await fetch('/submit', {
          method: 'POST',
          body: JSON.stringify({
            'g-recaptcha-response': token
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        });

        console.log(result);

        const response = await result.json();

        alert(response.message);
      }
  </script>
</body>
</html>
